
form.miu-admin-settings-form tr th {
	width: 140px;
}

form.miu-admin-settings-form .miu-admin-settings-checkbox-wrap {
	margin-right: 10px;
}

form.miu-admin-settings-form .miu-admin-settings-description {
	display: inline-block;
	vertical-align: middle;
}

form.miu-admin-settings-form .miu-admin-settings-input {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

form.miu-admin-settings-form .miu-admin-settings-label {
	display: inline-block;
	font-size: 13px;
	font-style: italic;
	vertical-align: middle;
}

.miu-admin-settings-submit-fields-wrap .miu-admin-settings-button-alt {
	margin-left: 10px;
}

.miu-admin-settings-pending-users-wrap .miu-admin-settings-pending-users-intro {
	margin: 0 0 12px;
	font-size: 110%;
}

.miu-admin-settings-pending-users-wrap .miu-admin-settings-pending-users-block {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}

.miu-admin-settings-pending-users-wrap .miu-admin-settings-pending-users-list {
	-webkit-columns: 6 120px;
	-moz-columns: 6 120px;
	columns: 6 120px;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
	margin: 0;
	padding: 0;
}
